* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #82e9e0;
  --primary-dark-color: #2a857e;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: var(--primary-dark-color);
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}
